<a href="https://colab.research.google.com/github/shejalp/Machine-Learning/blob/main/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [55]:
import pandas as pd
import numpy as np

In [56]:
data = pd.read_csv("/content/drive/MyDrive/data/Salary_Data.csv")

In [57]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [58]:
X = data.iloc[:,:-1].values
  
Y = data.iloc[:,1].values

In [59]:
cov = 0.0
var = 0.0
n = len(X)
for i in range(n):
  cov += (X[i]-np.mean(X))*(Y[i]-np.mean(Y))
  var += pow((X[i]-np.mean(X)),2)
#print(cov,var)
b1 = cov/var
b0 = np.mean(Y) - b1 * np.mean(X)
print(b1,b0)

[9449.96232146] [25792.20019867]

In [60]:
y=b0*1.1+b1
y

array([37821.38253999])