### In this notebook we are predicting if loan will be approved or not depending on the features provided in dataset. We are using CreditRisk data and we will using Logistic Regression for the same.

In [38]:
#importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
#Reading the data
data = pd.read_csv("CreditRisk.csv")
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y


### EDA

In [40]:
data.shape

(981, 13)

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            981 non-null    object
 1   Gender             957 non-null    object
 2   Married            978 non-null    object
 3   Dependents         956 non-null    float64
 4   Education          981 non-null    object
 5   Self_Employed      926 non-null    object
 6   ApplicantIncome    981 non-null    int64
 7   CoapplicantIncome  981 non-null    float64
 8   LoanAmount         954 non-null    float64
 9   Loan_Amount_Term   961 non-null    float64
 10  Credit_History     902 non-null    float64
 11  Property_Area      981 non-null    object
 12  Loan_Status        981 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 99.8+ KB

In [42]:
#checking for categorical features
cat_feature = [feature for feature in data.columns if data[feature].dtypes=='O']
cat_feature

['Loan_ID',
 'Gender',
 'Married',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [43]:
#categorical to numerical

from sklearn.preprocessing import LabelEncoder

LE = LabelEncoder()

for feature in cat_feature:
    data[feature]=LE.fit_transform(data[feature])

In [44]:
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0.0,0,0,5849,0.0,NaN,360.0,1.0,2,1
1,1,1,1,1.0,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,2,1,1,0.0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,3,1,1,0.0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,4,1,0,0.0,0,0,6000,0.0,141.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,970,1,1,4.0,1,1,4009,1777.0,113.0,360.0,1.0,2,1
977,972,1,1,0.0,0,0,4158,709.0,115.0,360.0,1.0,2,1
978,975,1,0,0.0,0,0,3250,1993.0,126.0,360.0,NaN,1,1
979,978,1,1,0.0,0,0,5000,2393.0,158.0,360.0,1.0,0,0
980,979,1,0,0.0,0,1,9200,0.0,98.0,180.0,1.0,0,1

In [45]:
#checking for null values in a column
data.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           25
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64

In [46]:
#making list of columns containing null values
null_col=[col for col in data.columns if data[col].isnull().any()]
null_col

['Dependents', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']

In [47]:
#dealing with null values(Here we replaced it with mean of respective column)
for col in null_col:
    data[col] = data[col].fillna(data[col].mean())

In [48]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [49]:
#target
X = data.drop(["Loan_Status"],axis=1)
Y = data["Loan_Status"]

In [50]:
#spliting data
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=11)

In [51]:
X_train.shape, X_test.shape

((784, 12), (197, 12))

In [52]:
#Model

from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
#fit

datafit=logreg.fit(X_train,Y_train)

#predict
y_pred=logreg.predict(X_test)

C:\Users\ADMIN\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [53]:
logreg.predict_proba(X_test)[:,0]

array([0.13544168, 0.09484598, 0.14163703, 0.08367308, 0.18353989,
       0.01749839, 0.63619281, 0.10458163, 0.17250012, 0.61660365,
       0.22213923, 0.05633347, 0.20682845, 0.95760225, 0.15594296,
       0.14827761, 0.08449035, 0.94432903, 0.10223745, 0.37387107,
       0.11996862, 0.19526157, 0.1959    , 0.18854985, 0.14026019,
       0.30633136, 0.14003225, 0.0775003 , 0.10414255, 0.30069694,
       0.34092881, 0.30951863, 0.1801492 , 0.0899284 , 0.06044306,
       0.02348539, 0.91942869, 0.57330756, 0.10900688, 0.09265309,
       0.27509764, 0.3687091 , 0.09099252, 0.93605512, 0.93112254,
       0.1986367 , 0.03216627, 0.11327132, 0.04440872, 0.06299816,
       0.12076231, 0.05744892, 0.81979036, 0.31614401, 0.71388142,
       0.10989598, 0.06695922, 0.27791738, 0.06964141, 0.07611071,
       0.25433079, 0.13869376, 0.21540658, 0.07599345, 0.13034228,
       0.06086772, 0.77962865, 0.41998582, 0.17454787, 0.05763229,
       0.9382625 , 0.05618749, 0.25739624, 0.06255763, 0.1485855 ,
       0.29183105, 0.44744658, 0.12301885, 0.20941181, 0.28890718,
       0.31774591, 0.21327828, 0.25703595, 0.90427917, 0.22037082,
       0.25035881, 0.18333823, 0.02064365, 0.26759983, 0.2378068 ,
       0.87985509, 0.12549801, 0.06481595, 0.16314514, 0.82932088,
       0.40489352, 0.24363826, 0.02587061, 0.90567799, 0.22464912,
       0.08246703, 0.13957073, 0.2081369 , 0.11279239, 0.92536278,
       0.17103452, 0.15000405, 0.1258767 , 0.09065501, 0.24909827,
       0.22879171, 0.0130713 , 0.31597948, 0.18523329, 0.29493767,
       0.08455131, 0.17884878, 0.36450446, 0.96371266, 0.24358095,
       0.05366281, 0.05470729, 0.05710103, 0.83703843, 0.14024251,
       0.11919512, 0.27138158, 0.12471472, 0.03544507, 0.90649335,
       0.32082837, 0.09076614, 0.11180997, 0.18533685, 0.09395535,
       0.9026301 , 0.01880987, 0.12740107, 0.24009698, 0.09288502,
       0.06912872, 0.09976925, 0.12031431, 0.10750994, 0.34116645,
       0.13747406, 0.35536703, 0.74102046, 0.16996469, 0.1003063 ,
       0.40273885, 0.0191947 , 0.17285019, 0.08552528, 0.97357035,
       0.13012756, 0.14774574, 0.09652237, 0.34469086, 0.38595868,
       0.17872744, 0.27439236, 0.94913765, 0.34803715, 0.22508531,
       0.65014913, 0.27072467, 0.13610042, 0.42687722, 0.18954453,
       0.27779826, 0.14194503, 0.23004711, 0.18773529, 0.79255114,
       0.15991677, 0.14952552, 0.12877391, 0.27442221, 0.46198378,
       0.27041845, 0.25934436, 0.49493654, 0.34974475, 0.90126787,
       0.87774011, 0.88765684, 0.34063296, 0.20472568, 0.13693899,
       0.31655027, 0.14498627, 0.08200332, 0.16765944, 0.86501424,
       0.38201893, 0.25818003])

### Model performance

In [54]:
score = logreg.score(X_test, Y_test)
print(score)

0.868020304568528

In [55]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

print('Model accuracy score: {0:0.4f}'. format(accuracy_score(Y_test, y_pred)))

Model accuracy score: 0.8680

In [56]:
#Checking for overfitting or underfitting

print('Training set score: {:.4f}'.format(logreg.score(X_train, Y_train)))

print('Test set score: {:.4f}'.format(logreg.score(X_test, Y_test)))

Training set score: 0.8520
Test set score: 0.8680

In [57]:
print(confusion_matrix(Y_test, y_pred))
print(classification_report(Y_test, y_pred))

[[ 27  23]
 [  3 144]]
              precision    recall  f1-score   support

           0       0.90      0.54      0.68        50
           1       0.86      0.98      0.92       147

    accuracy                           0.87       197
   macro avg       0.88      0.76      0.80       197
weighted avg       0.87      0.87      0.86       197